body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}
body {
    background-image: url('BLACK.jpg');
    background-size: cover; /* Adjusts the image to cover the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    margin: 0; /* Optional: Removes default margin */
    padding: 0; /* Optional: Removes default padding */
}

.container {
    text-align: center;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d3a200;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #866701;
}
/* styles.css */
h1 {
    font-family: 'Libre Baskerville', serif;
}

